
        body {
            background-image: url('/images/backround.jpg');
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center center; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f6f6f6;
        }

  
    

        .container {
            background-color: #ffffff8b;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.305);
            text-align: center;
            margin-bottom: 20px;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }

        label, input {
            margin-bottom: 10px;
            display: block;
            width: 100%;
            
        }

        button {
            background-color: #007BFF;
            color: #ffffff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            transition: transform 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
            transform: scale(1.1);
        }

        #message {
            font-weight: bold;
            color: red;
        }



/* Inputs */

input {
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 12px;
    outline: none;
    background-color: #f9f9f9;
}

input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

input::placeholder {
    color: #888;
    font-style: italic;
}

input:invalid {
    border-color: red;
}

input:hover {
    background-color: #f1f1f1;
}

input:active {
    background-color: #eaeaea;
}
