#container {
    display: flex;
}



#selectorContainer {
    background-color: #1223e21f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

#sidePanel {
    width: 20%;
    padding: 10px;
    overflow-y: scroll;
    height: 500px;
}

#halfPanel {
    width: 45%;
    padding: 10px;
    overflow-y: scroll;
    height: 500px;
    margin: 20px;
    float: left; /* This makes them side by side on larger screens */
}


@media (max-width: 800px) {
    .halfPanel {
        width: 100%; /* Takes full width on smaller screens */
        float: none; /* Removes float so they stack */
        clear: both; /* Clears any floats */
    }
}



#quarterPanel {
    width: 20%;
    padding: 10px;
    overflow-y: scroll;
    height: 500px;
    margin: 20px;
}

#map {
    width: 80%;
    height: 500px;
    border-radius: 10px;
    
    margin: 10px;
}
header {
    background-color: #2863d9d8;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center; /* vertically centers content */
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    header .header-title {
        flex-grow: 1; /* this will make the title take up as much space as it can, pushing the buttons to the edges */
    }

    footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 0.2px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: x-small;
}

    .user-greeting {
        margin-right: 20px;
        justify-content:right;
        font-size: 20px; /* Adjust this to your liking */
        color: #aeb2d6; /* Change this to your preferred color */
    }

    .spacer {
        height: 60px;
    }

    .texts {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        margin-bottom: 10px;
    }
    .title {
        margin-left: 20px;
    }

    header a {
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        padding: 1px 4px;   /* Decreased padding to make the button smaller */
        font-size: 0.7em; /* Optional: Decreased font size to fit the smaller button */
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    header s {
        margin-right: 10px;
        text-decoration: none;
        padding: 1px 4px;   /* Decreased padding to make the button smaller */
        font-size: 0.7em; /* Optional: Decreased font size to fit the smaller button */
        border-radius: 5px;
        transition: background-color 0.3s;
        background-color: #68628a;
        color: #ffffff;
        border: 1px solid #ddd;
    }

    header a:hover {
        background-color: #140670;
        color: #ffffff;
    }



    .store-container {
        border: 1px solid #136ccb93;
        background-color: #136ccb3c;
        padding: 16px;
        border-radius: 8px;
        width: 25%;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        font-family: "Trebuchet MS", Helvetica, sans-serif;

    }
    .store-content hr {
        margin: 10px 0;
    }
    

    /* In your CSS file or inside a <style> tag in your HTML */

    .like-button {
        background-color: rgb(61, 61, 226);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;
        margin-right: 10px; 
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .like-button:hover {
        transform: scale(1.1); 
    }

    .dislike-button {
        background-color: rgb(176, 10, 10);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;
        margin-right: 10px; 
        margin-bottom: 10px;
        margin-top: 10px;
        

    }

    .dislike-button:hover {
        transform: scale(1.1); 
    }

    .disabled-button {
        background-color: grey;
        color: white;
        cursor:not-allowed;
        transition: none;
        margin-right: 10px; 
        margin-bottom: 10px;
        margin-top: 10px;
    }


    .gr-stock-button {
        background-color: rgb(75, 23, 219);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;
        margin-right: 10px; 
        margin-bottom: 10px;
        margin-top: 10px;
  }

    .gr-stock-button:hover {
        transform: scale(1.1); 
    }

    .red-stock-button {
        background-color: rgb(75, 23, 219);
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;
        margin-right: 10px; 
        margin-bottom: 10px;
        margin-top: 10px;
} 

    .red-stock-button:hover {
        transform: scale(1.1); 
    }


    .green-bold {
        color: green;
        font-weight: bold;
    }
    
    .red-bold {
        color: red;
        font-weight: bold;
    }

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px; /* space between items */
    }
    
   
    
    .navbar a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }   
    th, td {
        border: 1px solid rgba(14, 48, 218, 0.669);
        padding: 6px;
        text-align: left;
    }
    th {
        background-color: #2863d985;
    }

    .btitle {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        margin-bottom: 10px;
        text-align: center;
        font-size: large;
        color: #113c93cd;
    }

    .settings-container{
        position: absolute;
        right: 0;
        top: 0;

    }

    #autocomplete-results {
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: scroll;
        position: absolute;
        width: 200px;
    }
    
    #autocomplete-results div {
        padding: 5px;
        cursor: pointer;
    }
    
    #autocomplete-results div:hover {
        background-color: #eee;
    }
    #autocomplete-results .dropdown-item {
        cursor: pointer;
    }
    
    #autocomplete-results .dropdown-item:hover {
        background-color: #f5f5f5;
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
