body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d45bc;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.filter {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.filter-choice {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-choice:hover {
    background-color: #2ad23b;
}

#map {
    width: 100%;
    height: 80vh;
}
